<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre más largo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloejercicio2.css') }}">
</head>
<body>
    <div class="container">
        <h2>Nombre 1:</h2>
        <form method="POST">
            <input type="text" name="nombre1" required>
            <h2>Nombre 2:</h2>
            <input type="text" name="nombre2" required>
            <h2>Nombre 3:</h2>
            <input type="text" name="nombre3" required>
            <button type="submit">Enviar</button>
        </form>

        {% if nombre_mayor %}
        <div class="result">
            <p>El nombre con mayor cantidad de caracteres es: {{ nombre_mayor }}</p>
            <p>El nombre tiene: {{ longitud_mayor }} caracteres</p>
        </div>
        {% endif %}
    </div>
</body>
</html>